.container {
  margin-top: 12px;
  display: flex;
  justify-content: stretch;
}

.list {
  margin: 10px;
  color: black;
  padding: 20px;
  border-radius: 14px;
  height: 700px;
  flex-basis: 32%;
  border: 0;
}
.title {
  font-size: 24px;
  margin: 0;
}
