.container {
  margin-top: 12px;
  display: flex;
  justify-content: stretch;
}

.list {
  background-color: #fff;
  box-shadow: 5px 10px 30px #bbb;
  margin: 10px;
  color: white;
  padding: 20px;
  border-radius: 14px;
  height: 700px;
  flex-basis: 32%;
  border: 0;
}
