.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #111;
  color: white;
  padding: 16px;
}
.logo {
  font-size: 40px;
  font-weight: 800;
  font-family: "Baloo Bhaijaan 2", cursive;
  margin-top: -34px;
  margin-bottom: -40px;
}
.profilepic {
  height: 40px;
  width: 40px;
  background-color: grey;
  border-radius: 10px;
}
